# Entorno virtual
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log
*.log

# Archivos de base de datos SQLite
*.sqlite3

# Archivos de configuración de IDE
.vscode/
.idea/
**/.env
**/token.json
**/credentials.json
**/media/usuarios/*
**/*.md
docker-compose.yml
prompt_sistema.txt